@model Jewelry.Models.Jewel
@{
    ViewData["Title"] = "DeleteJewel";
}
<h1>DeleteJewel</h1>
<h3>האם אתה בטוח שברצונך למחוק את התכשיט?</h3>
<div>
    <h4>@Html.DisplayFor(model=>model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.ID)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.ID)</dd>
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">תמונה</dt>
        <dd class="col-sm-10">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo.First().MyPhoto)" width="160" height="120" />
        </dd>
    </dl>
    <form asp-action="DeleteJewel" asp-route-id="@Model.ID.ToString()">
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לחנות תכשיטים</a>
    </form>
</div>
